{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-underscore-dangle" : "off",
    "no-plusplus": "off",
    "import/extensions": "off",
    "linebreak-style": "off"
  }
}
