<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Netflix Clone</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/home.css"/>
</head>
<body>
  
  <nav>
    <a id = "logo" href="/content"><img id="logo-img" src="/assets/img/title.png" alt="Netflix Clone logo"/></a>
    
    <div class = "dropdown">
      <button class = "dropdownButton"></button>
      <div class = "dropdownContent">
        <div id = "profiles"></div>
        
        <div class="navlink"><a href="/manageProfiles">Manage Profiles</a></div>
        <div class="navlink"><a href="/changePassword">Change Password</a></div>
        <div class="navlink"><a href="/logout">Sign Out</a></div>
      </div>
    </div>
  </nav>

<div id = "videos">
  <h2>Recently Watched</h2>
  <div class = "videoRow" id = "recentlyWatched">
    </div>
    <br>
  <h2>Favorites</h2>
  <div class = "videoRow" id = "favoriteVideos">

  </div>
  <h2>Popular on Netflix</h2>
  <div class = "videoRow" id = "popular">  
  </div>
  <br>
  <h2>Trending Now</h2>
  <div class = "videoRow" id = "trending">
  </div>
  <br>
  <h2>Exclusive Content</h2>
  <div class = "videoRow" id = "exclusive"> 
  </div>
</div>

  <script src="/assets/appBundle.js"></script>
</body>
</html>
