<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/home.css"/>
</head>
<body>
  <nav>
    <a id = "logo" href="/login"><img id="logo-img" src="/assets/img/title.png" alt="Netflix Clone logo"/></a>
    
    <div class = "dropdown">
      <button class = "dropdownButton"><img src = "/assets/img/netflix-avatar.png" alt = "Netflix avatar"></button>
      <div class = "dropdownContent">
        <a href = "/profiles"></a>
        <div class="navlink"><a href="/logout">Log out</a></div>
        <div class="navlink"><a href="/logout">Change Profile</a></div>
        <div class="navlink"><a href="/changePassword">Change Password</a></div>
        
      </div>
    </div>
  </nav>
<div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/changePassword">Change Password</a></div>
  <section id="makeDomo">

  </section>
  <section id="domos">
    
  </section>

 
  <script src="/assets/appBundle.js"></script>
</body>
</html>
