<html lang="en">
<head>
  <meta charset="utf-8"/>
  <!-- passed in variables in handlebars are surrounded by two curly braces like the following
       Any variable you pass into res.render will be available by name in the template through
       the curly braces
  -->
  <title>Not Found Page</title>
   <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <!-- passed in variables in handlebars are surrounded by two curly braces like the following
       Any variable you pass into res.render will be available by name in the template through
       the curly braces
  -->
  
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource-->
  <nav>
     <a  href="/"><img id="logo" src="/assets/img/title.png" alt="Netflix Clone logo"/></a>
  </nav>
  
  <section id = "content">
     <h1>404. The url {{page}} was not found</h1>
  </section>
  

</body>
</html>