<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/profiles.css"/>
</head>
<body>
  <nav>
    <a href="https://fontmeme.com/netflix-font/"><img src="https://fontmeme.com/permalink/231112/688aa61da6ddb14733a039248ab9c0b5.png" alt="netflix-font" border="0"></a>
  </nav>

  <section id="makeDomo">

  </section>
  <section id="domos">
    
  </section>
  <section id = "accountProfiles">

  </section>

  
  <script src="/assets/profilesBundle.js"></script>
</body>
</html>
