<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Netflix Clone</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/profiles.css" />
</head>
<body>
  <div id="content">
    <div id = "profileContent">
    </div>
    <div id="editProfileForm">
    {{!-- <div class="modal-content">
      <span class="close" id="closeForm">&times;</span>
      <h2>Edit Profile</h2>
      <form id="profileForm" action = '/editProfile'>
        <label for="profileName">Name:</label>
        <input type="text" id="profileName" name="profileName" required>
        <label for="profileAvatar">Avatar:</label>
        <div id="profileAvatar"></div>
        <button type="submit">Save</button>
        <button type="button" id="deleteProfile" >Delete</button>
      </form>
    </div> --}}
  </div>
  </div>
  <script src="/assets/profilesBundle.js"></script>
</body>

</html>