<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/profiles.css" />
</head>

<body>
  <div id="content">
    <h1>Who's Watching?</h1>
    <div id="accountProfiles">


    </div>
    <button id = "manageProfiles">Manage Profiles</button>
    <a href = "/maker">Maker page</a>
  </div>



  <script src="/assets/profilesBundle.js"></script>
</body>

</html>