html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(20, 20, 20);
    color:white;
}

nav{
    background-color: rgb(15, 15, 15);
    height: 80px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    
    align-items: center;
    
}
#logo
{
    margin-left: 20px;
    width: 20%;
}
#logo-img
{
    width: 100%;
}
.dropdown img
{
    width: 50px;
    height: 50px;
}
.dropdown
{
    position: relative;
    display:inline-block;
    margin-right: 20px;
}
.dropdownContent
{
    display: none;
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0,0.8);
    width: 200px;
    height: fit-content;
    z-index: 1;

    right: 0;

}

.dropdown:hover .dropdownContent {
    display: block;
  }
#profiles
{
    display: flex;
    flex-direction: column;
}
.profile
{
    display: flex;
    flex-direction: row;
}
#videos
{
    margin: 0 40px;
}
h3
{
    margin-left: 10px;
}

.videoList
{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}