html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(20, 20, 20);
    color:white;
}

nav{
    background-color: rgb(15, 15, 15);
    height: 80px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    
    align-items: center;
    
}
#logo
{
    margin-left: 20px;
    width: 20%;
}
#logo-img
{
    width: 100%;
}
.dropdown img
{
    width: 50px;
    height: 50px;
}
.dropdown
{
    position: relative;
    display:inline-block;
    margin-right: 20px;
}
.dropdownContent
{
    display: none;
    position: absolute;
    padding: 10px;
    background-color: rgba(0, 0, 0,0.8);
    width: 200px;
    height: fit-content;
    z-index: 1;

    right: 0;

}

.dropdown:hover .dropdownContent {
    display: block;
  }
.profileList > * 
  {
      margin-bottom: 10px;
  }
 .profileList > *:last-child {
      margin-bottom: 0;
  }
.profile, .dropdownButton
{
    background: none;
    border: none;
    color: white;
}
.profile h3
{
    margin-left: 10px;
}
.profile:hover
{
    cursor:pointer;

}
.profile
{
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    color: rgb(202, 202, 202);
}
.profile:hover
{
    cursor:pointer;
    color:white;

}

.profile:hover img
{
    border: solid 2px white;
}
#videos
{
    margin: 0 40px;
}
p
{
    margin: 8px auto;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    width: 20vw;
}
.video
{
    width: 20vw;
    height: fit-content;
    display: block;
}
.videoPlayer
{
    background: none;
    border: none;
}
.thumbnail
{
    width: 20vw;
}
.videoList
{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.videoList > *
{
    margin-right: 15px;
}
.videoList > *:last-child
{
    margin-right: 0;
}
.buttonContainer
{
    width: fit-content;
    margin: 0 auto 20px;
}
a
{
    color: rgb(202, 202, 202);
    text-decoration: none;
}
a:hover
{color: white;
    text-decoration: underline;
}