html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(35, 35, 35,1);
    color:white;
    font-weight: 200;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content
{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profiles
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profiles a
{
    margin-left: 50px;
}
img.avatar {
    margin: 0 auto 10px;
    height: 100px;
    width: 100px;
    border-radius: 4px;
}
h1
{
    text-align: center;
    font-size: 4vw;
    
}
#manageProfiles
{
    border: 1px solid rgb(194, 194, 194);
    color:rgb(194, 194, 194);
    font-size: larger;
    width: 200px;
    height: 60px;
    background-color: rgba(35, 35, 35, 1);

}
#manageProfiles:hover
{
    border: 3px solid white;
    color: white;
}
#profileRow
{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.profile, .manageProfile
{
    background: none;
    border: none;
    color: rgb(202, 202, 202);
}
.profile:hover, #manageProfilesButton:hover
{
    cursor:pointer;
    color:white;

}

.profile:hover img, #manageProfilesButton:hover
{
    border: solid 2px white;
}
#manageProfilesButton, #doneButton
{
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 15px 40px;
    margin: 0 auto;
    color: rgb(202, 202, 202);
    border: 2px solid rgb(202, 202, 202);
    font-size: larger;
    font-weight: bold;
}
#doneButton
{
    background-color: white;
    color: rgb(35,35,35);
}
#doneButton:hover
{
    background-color: rgb(228, 228, 228);
}