html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(35, 35, 35,1);
    color:white;
}
#content
{
    width: 70%;
    height: fit-content;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profiles
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profiles a
{
    margin-left: 50px;
}
img.avatar {
    margin: 0 auto 10px;
    height: 100px;
    width: 100px;
    border-radius: 4px;
}
h1
{
    text-align: center;
    font-size: 4vw;
    
}
#manageProfiles
{
    border: 1px solid rgb(194, 194, 194);
    color:rgb(194, 194, 194);
    font-size: larger;
    width: 200px;
    height: 60px;
    background-color: rgba(35, 35, 35, 1);

}
#manageProfiles:hover
{
    border: 3px solid white;
    color: white;
}
#profileRow
{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#profileRow > * 
{
    margin-right: 20px;
}
#profileRow > *:last-child {
    margin-right: 0;
}
.profile, .manageProfile
{
    background: none;
    border: none;
    color: rgb(202, 202, 202);
}
.profile:hover, a:hover
{
    cursor:pointer;
    color:white;

}

.profile:hover img, a:hover
{
    border: solid 2px white;
}
a
{
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 20px 50px;
    color: rgb(202, 202, 202);
    border: 2px solid rgb(202, 202, 202);
    font-size: larger;
}